
{{ form_start(form) }}
    <div class="contenuFormUpdate">
        <div id="user">
            <div class="champsInscription">
                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'required'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="champsInscription">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'required'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <section class="formProduitImg">
                <div class="champsPhotoProduit">
                    {{ form_label(form.photo, 'Photo', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                    {% if produit.photo %}
                        <p>Photo actuelle : <img class="LaphotoProduit" src="{{ asset('uploads/'~produit.photo) }}" alt="{{ produit.photo }}"></p>
                    {% endif %}
                </div>
                <div class="champsPhotoProduit">
                    {{ form_label(form.photo2, 'Photo2', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.photo2, {'attr': {'class': 'form-control'}}) }}
                    {% if produit.photo2 %}
                        <p>Photo actuelle : <img class="LaphotoProduit" src="{{ asset('uploads/'~produit.photo2) }}" alt="{{ produit.photo2 }}"></p>
                    {% endif %}
                </div>
                <div class="champsPhotoProduit">
                    {{ form_label(form.photo3, 'Photo3', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.photo3, {'attr': {'class': 'form-control'}}) }}
                    {% if produit.photo3 %}
                        <p>Photo actuelle : <img class="LaphotoProduit" src="{{ asset('uploads/'~produit.photo3) }}" alt="{{ produit.photo3}}"></p>
                    {% endif %}
                </div>
                <div class="champsPhotoProduit">
                    {{ form_label(form.photo4, 'Photo4', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.photo4, {'attr': {'class': 'form-control'}}) }}
                    {% if produit.photo4 %}
                        <p>Photo actuelle : <img class="LaphotoProduit" src="{{ asset('uploads/'~produit.photo4) }}" alt="{{ produit.photo4}}"></p>
                    {% endif %}
                </div>
                <div class="champsPhotoProduit">
                    {{ form_label(form.photo5, 'Photo5', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.photo5, {'attr': {'class': 'form-control'}}) }}
                    {% if produit.photo5 %}
                        <p>Photo actuelle : <img class="LaphotoProduit" src="{{ asset('uploads/'~produit.photo5) }}" alt="{{ produit.photo5}}"></p>
                    {% endif %}
                </div>
                <div class="champsPhotoProduit">
                    {{ form_label(form.photo6, 'Photo6', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.photo6, {'attr': {'class': 'form-control'}}) }}
                    {% if produit.photo6 %}
                        <p>Photo actuelle : <img class="LaphotoProduit" src="{{ asset('uploads/'~produit.photo6) }}" alt="{{ produit.photo6}}"></p>
                    {% endif %}
                </div>
            </section>
            <section class="formProduitInfoPlus">
                <div class="champsInscriptionAutre">
                    {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionAutre">
                    {{ form_label(form.nbr_nuit, 'Nbr_nuit', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.nbr_nuit, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionAutre">
                    {{ form_label(form.ville, 'Ville', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionAutre">
                    {{ form_label(form.region, 'Region', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionAutre">
                    {{ form_label(form.informationsHorraireArv, 'InformationsHorraireArv', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.informationsHorraireArv, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionAutre">
                    {{ form_label(form.informationsAnnimaux, 'InformationsAnnimaux', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.informationsAnnimaux, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionAutre">
                    {{ form_label(form.informationsHorraireDepart, 'InformationsHorraireDepart', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.informationsHorraireDepart, {'attr': {'class': 'form-control'}}) }}
                </div>
            </section>
            <section class="formProduitInfoPlusList">
                <div class="champsInscriptionList">
                    {{ form_label(form.motsCles, 'MotsCles', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.motsCles, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionList">
                    {{ form_label(form.decouvrirSurPlace, 'DecouvrirSurPlace', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.decouvrirSurPlace, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="champsInscriptionList">
                    {{ form_label(form.decouvrirAProximiter, 'DecouvrirAProximiter', {'label_attr': {'class': 'required'}}) }}
                    {{ form_widget(form.decouvrirAProximiter, {'attr': {'class': 'form-control'}}) }}
                </div>
            </section>




        </div>
        {{ form_row(form._token) }}
        <button class="formulaireUpdateBtn">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
