{% extends 'base.html.twig' %}

{% block title %}DecouvrirAProximiter{% endblock %}

{% block body %}
    <main>
        <h1>DecouvrirAProximiter</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ decouvrir_a_proximiter.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ decouvrir_a_proximiter.nom }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_decouvrir_a_proximiter_index') }}">back to list</a>

        <a href="{{ path('app_decouvrir_a_proximiter_edit', {'id': decouvrir_a_proximiter.id}) }}">edit</a>

        {{ include('decouvrir_a_proximiter/_delete_form.html.twig') }}
    </main>
{% endblock %}
