{% extends 'base.html.twig' %}

{% block title %}DecouvrirSurPlace index{% endblock %}

{% block body %}
    <h1>DecouvrirSurPlace index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decouvrir_sur_place in decouvrir_sur_places %}
            <tr>
                <td>{{ decouvrir_sur_place.id }}</td>
                <td>{{ decouvrir_sur_place.nom }}</td>
                <td>
                    <a href="{{ path('app_decouvrir_sur_place_show', {'id': decouvrir_sur_place.id}) }}">show</a>
                    <a href="{{ path('app_decouvrir_sur_place_edit', {'id': decouvrir_sur_place.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_decouvrir_sur_place_new') }}">Create new</a>
{% endblock %}
