{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <main>
        <section class="lePanierGeneral">
            <section class="panier">
                <h2>Panier</h2>

                {% if paniers is empty %}
                    <p>Votre panier est vide.</p>
                {% else %}
                    {% for panier in paniers %}
                        <section class="unProduitPanier">
                            <div class="suppPanier">
                                <a class="linkSuppPanier" href="{{ path('panierDelete', {'id': panier.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="panierEnTete">
                                <img src="{{ asset('uploads/'~panier.produit.photo) }}" alt="img-produit">
                                <div class="panierEnTete-contenu">
                                    <h3>{{ panier.produit.nom }}</h3>
                                    <p>Échange & prolongation gratuits et illimités</p>
                                </div>
                            </div>
                            <hr class="panierSeparation">
                            <div class="panierQuantité">
                                <div>
                                    <p>Quantité</p>
                                    <select name="nbr" id="nbt-select">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                                <p class="panierPrix">{{ panier.produit.prix }}</p>
                            </div>
                        </section>
                    {% endfor %}
                    <button class="oneProduit-descriptionBtnPanier"><a href="{{ path('confirmation', {'id': paniers|last.id}) }}">Valider ma commande</a></button>
                {% endif %}
            </section>
        </section>

    </main>
{% endblock %}
