{% extends 'base.html.twig' %}

{% block title %}InformationsHorraireDeaprt index{% endblock %}

{% block body %}
    <main>
        <h1>InformationsHorraireDeaprt index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for informations_horraire_deaprt in informations_horraire_deaprts %}
                <tr>
                    <td>{{ informations_horraire_deaprt.id }}</td>
                    <td>{{ informations_horraire_deaprt.nom }}</td>
                    <td>
                        <a href="{{ path('app_informations_horraire_deaprt_show', {'id': informations_horraire_deaprt.id}) }}">show</a>
                        <a href="{{ path('app_informations_horraire_deaprt_edit', {'id': informations_horraire_deaprt.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_informations_horraire_deaprt_new') }}">Create new</a>
    </main>
{% endblock %}
